
/* table start */
table, th, td  { border: 1.5px solid black;
                 border-collapse: collapse;
                 padding: 5px;
                 text-align: left; }
tr             { height: 55px;}       
#crafting-main td, #crafting-main th {
    border: 1px solid gray;
}
td:nth-child(1) { width: 116px;           }
td:nth-child(2) { width: 224px;           }
td:nth-child(3) { width: 140px;           }
td:nth-child(4) { width: 116px;           }


td.craftType    { text-align: center;
                  height: 165px;          }
td.itemBase     { padding-left: 12px;
                  height: 54px;
                  color: blue;          }
td.FixedEffects { width: 400px;           }

td img.raw      { height: 153px;          }
/* table end */
/* side start */
.sidenav        { height: 100%;
                  width: 0;
                  position: fixed;
                  z-index: 1;
                  top: 0;
                  left: 0;
                  background-color: #111;
                  overflow-x: hidden;
                  transition: 0.5s;
                  padding-top: 60px;      }

.sidenav a      { padding: 8px 8px 8px 32px;
                  text-decoration: none;
                  font-size: 25px;
                  color: #818181;
                  display: block;
                  transition: 0.3s;         }

.sidenav a:hover { color: #f1f1f1;        }

.sidenav .closebtn { position: absolute;
                     top: 0;
                     right: 25px;
                     font-size: 36px;
                     margin-left: 50px;      }

/* @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
            } */
/* side end */

